@import "@elearning/tailwind-config/index.css";
@import "@elearning/block-editor/block-editor.css";

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

/* @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */

/* html,
body {
  margin: 0;
  background-color: #ff0000;
  font-family: Inter, Noto Sans Myanmar UI, -apple-system, BlinkMacSystemFont,
    Roboto, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif !important;
} */

/* svg {
  display: block;
} */

/* .lucide {
  stroke-width: 2px;
} */

html body[data-scroll-locked] {
  --removed-body-scroll-bar-size: 0px !important;
  margin-right: 0px !important;
  overflow-y: auto !important;
} 

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-none {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* width */
.scrollbar-custom::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
.scrollbar-custom::-webkit-scrollbar-track {
  background: #f2f2f2;
  border-radius: 3px;
}

/* Handle */
.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 3px;
}

/* Handle on hover */
.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

/* Swiper */
.swiper-pagination-bullet {
  background-color: hsl(var(--primary)) !important;
  width: 10px !important;
  height: 10px !important;
  opacity: 0.3 !important;
}
.swiper-pagination-bullet-active {
  background-color: hsl(var(--primary)) !important;
  opacity: 1 !important;
}

.swiper-button-next,
.swiper-button-prev {
  --swiper-navigation-color: hsl(var(--primary)) !important;
}
