@tailwind base;
@tailwind components;
@tailwind utilities;

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/zoom";
@import "../styles/prosemirror.css";

/* @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */

@layer base {
  @font-face {
    font-family: Inter;
    font-weight: 300;
    src: url(../../public/fonts/Inter-Light.ttf) format("truetype");
  }
  @font-face {
    font-family: Inter;
    font-weight: 400;
    src: url(../../public/fonts/Inter-Regular.ttf) format("truetype");
  }
  @font-face {
    font-family: Inter;
    font-weight: 500;
    src: url(../../public/fonts/Inter-Medium.ttf) format("truetype");
  }
  @font-face {
    font-family: Inter;
    font-weight: 600;
    src: url(../../public/fonts/Inter-SemiBold.ttf) format("truetype");
  }
  @font-face {
    font-family: Inter;
    font-weight: 700;
    src: url(../../public/fonts/Inter-Bold.ttf) format("truetype");
  }

  :root {
    --novel-highlight-default: #ffffff;
    --novel-highlight-purple: #f6f3f8;
    --novel-highlight-red: #fdebeb;
    --novel-highlight-yellow: #fbf4a2;
    --novel-highlight-blue: #c1ecf9;
    --novel-highlight-green: #acf79f;
    --novel-highlight-orange: #faebdd;
    --novel-highlight-pink: #faf1f5;
    --novel-highlight-gray: #f1f1ef;

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 243 75% 59%;
    --primary-foreground: 210 40% 98%;

    --secondary: 37 95% 56%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 220, 14%, 96%;
    --accent-foreground: 0, 0%, 13%;

    --destructive: 359 100% 42%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.3rem;
  }

  .dark {
    --novel-highlight-default: #000000;
    --novel-highlight-purple: #3f2c4b;
    --novel-highlight-red: #5c1a1a;
    --novel-highlight-yellow: #5c4b1a;
    --novel-highlight-blue: #1a3d5c;
    --novel-highlight-green: #1a5c20;
    --novel-highlight-orange: #5c3a1a;
    --novel-highlight-pink: #5c1a3a;
    --novel-highlight-gray: #3a3a3a;

    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }

  h1 {
    @apply text-4xl font-semibold;
  }

  h2 {
    @apply text-3xl font-semibold;
  }

  h3 {
    @apply text-2xl font-semibold;
  }

  h4 {
    @apply text-xl font-semibold;
  }

  h5 {
    @apply text-lg font-semibold;
  }

  h6 {
    @apply text-base font-semibold;
  }

  /* a {
    @apply text-anchor;
  } */
}

@layer components {
  .default-input {
    @apply border-gray-300 focus:border-primary focus:ring-0 disabled:bg-gray-200 disabled:cursor-not-allowed;
  }

  .valid-input {
    @apply border-success focus:border-success focus:ring-[4px] focus:ring-success/30;
  }

  .invalid-input {
    @apply border-danger focus:border-danger focus:ring-[4px] focus:ring-danger/30;
  }
}

/* html,
body {
  margin: 0;
  background-color: #ff0000;
  font-family: Inter, Noto Sans Myanmar UI, -apple-system, BlinkMacSystemFont,
    Roboto, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif !important;
} */

/* svg {
  display: block;
} */

/* .lucide {
  stroke-width: 2px;
} */

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-none {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* width */
.scrollbar-custom::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
.scrollbar-custom::-webkit-scrollbar-track {
  background: #f2f2f2;
  border-radius: 3px;
}

/* Handle */
.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 3px;
}

/* Handle on hover */
.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

/* Swiper */
.swiper-pagination-bullet {
  background-color: #fff;
  width: 10px;
  height: 10px;
}
.swiper-pagination-bullet-active {
  background-color: #fff;
}

.swiper-button-next,
.swiper-button-prev {
  --swiper-navigation-color: var(--primary);
}

/* Tinymce */
.tox-pop .tox-pop__dialog .tox-toolbar {
  padding: 0 !important;
}

.mce-edit-focus {
  outline: none;
}
